/SmgApiClient/.vs/SmgApiClient/v15/.suo
/SmgApiClient/.vs/SmgApiClient/v15/Server/sqlite3/db.lock
/SmgApiClient/.vs/SmgApiClient/v15/Server/sqlite3/storage.ide
/SmgApiClient/.vs/SmgApiClient/v15/Server/sqlite3/storage.ide-shm
/SmgApiClient/.vs/SmgApiClient/v15/Server/sqlite3/storage.ide-wal
bin
obj
